.loginout {
    color: black;
    background-color: white;
    border-radius: 45px;
    padding: 5px;
    float: right;
}

#home {
    text-decoration: underline;
}

pre {
    background: rgb(0,0,0,0.8);
    color: white;
    padding: .5%;
    border-radius: 15px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
p {
    margin: auto 5%;
}
h2 {
    font-size: 28px!important;
}
h1 {
    font-size: 40px!important;    
}


.webdeveloper {
    font-size: 2.4rem;
}

@media only screen and (min-width: 600px) {
    .webdeveloper {
        font-size: 4rem;
    }
}