.computer {
    height: 300px;
    width: 300px;
    margin-left: 10%;
}
@media only screen and (min-width: 600px) {
    .computer {
        height: 400px;
        width: 600px;
        margin-left: 0;
    }
}
.animate__animated.animate__fadeIn {
    --animate-duration: 5s;
  }

  .welcome {
    margin: -10% auto 0 auto;
  }
  @media only screen and (max-width: 400px) {
    .welcome {
        height: 200px;
        width: auto;
    }
    .face {
      
    }
  }